<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.utilnepal">

    <!-- permissions -->


    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>

    <application
        android:allowBackup="true"

        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".MobileHelp.ActivitiesFragment.MobileActivity" />
        <activity android:name=".AudioRecorder.ActivitiesFragment.AudioRecorderActivity" />
        //keyboard Service
        <service
            android:name=".NepaliKeyboard.NepaliKeyboardService"
            android:label="Nepali Keyboard"
            android:permission="android.permission.BIND_INPUT_METHOD">
            <meta-data
                android:name="android.view.im"
                android:resource="@xml/method" />

            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>
        </service>

        <activity android:name=".DateConverter.DateConverterActivity" />
        <activity android:name=".NepaliKeyboard.ActivitiesFragments.KeyboardActivity" />
        <activity android:name=".QRCodeScanner.QRCodeActivity" />

        <meta-data android:name="com.google.android.gms.vision.DEPENDENCIES" android:value="ocr"/>
        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

        <activity android:name=".MobileHelp.ActivitiesFragment.RechargeUtils.RechargeActivity" android:configChanges="orientation"
            android:screenOrientation="portrait"></activity>

    </application>

</manifest>